Node-Red/flows.json
[{"id":"3eefe87c.aa6828","type":"tab","label":"Data Saver","disabled":false,"info":""},{"id":"701cda5e.388314","type":"tab","label":"Mote Configurator","disabled":false,"info":""},{"id":"41de330e.96e68c","type":"mqtt-broker","name":"","broker":"server.matmacsystem.it","port":"1883","clientid":"node-red","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"687be635.64ab6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"144e6cdc.86e683","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"937ab92b.c10398","type":"csv","z":"3eefe87c.aa6828","name":"csv","sep":";","hdrin":"","hdrout":"once","multi":"one","ret":"\\n","temp":"Location;Date Time;Temperature;Humidity","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":890,"y":460,"wires":[["d825721.5a86e9"]]},{"id":"d825721.5a86e9","type":"file","z":"3eefe87c.aa6828","name":"","filename":"/home/administrator/DB.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1100,"y":460,"wires":[[]]},{"id":"e8066000.97f1c8","type":"mqtt in","z":"3eefe87c.aa6828","name":"","topic":"mtds/sensor/data/#","qos":"2","datatype":"json","broker":"41de330e.96e68c","nl":false,"rap":true,"rh":0,"x":350,"y":460,"wires":[["5e9cc2f.d529d3c"]]},{"id":"5e9cc2f.d529d3c","type":"function","z":"3eefe87c.aa6828","name":"MQTT Parser","func":"Date.prototype.today = function () { \n    return  this.getFullYear()+\"-\"+(((this.getMonth()+1) < 10)?\"0\":\"\") + (this.getMonth()+1) +\"-\"+ ((this.getDate() < 10)?\"0\":\"\") + this.getDate();\n}\n\n// For the time now\nDate.prototype.timeNow = function () {\n     return ((this.getHours() < 10)?\"0\":\"\") + this.getHours() +\":\"+ ((this.getMinutes() < 10)?\"0\":\"\") + this.getMinutes();// +\":\"+ ((this.getSeconds() < 10)?\"0\":\"\") + this.getSeconds();\n}\n\n\n//Topic: mtds/sensor/data/A/0/S/3\nvar topic = msg.topic.replace(\"mtds/sensor/data/\", \"\").split(\"/\").join(\".\");\nmsg.data = {};\nmsg.data.location = topic;\nvar p = msg.payload;\nmsg.data.temperature = p.d.temp_c;\nmsg.data.humidity = p.d.hum;\nmsg.data.sensor_id = p.d.s_id;\nmsg.data.datetime = new Date().today() + \" \" + new Date().timeNow();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":460,"wires":[["844b6b9e.3e684","4b85a490.1e3dd4"]]},{"id":"844b6b9e.3e684","type":"function","z":"3eefe87c.aa6828","name":"CSV Filter","func":"var data = msg.data;\nmsg.payload = [data.location, data.datetime, data.temperature, data.humidity];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":460,"wires":[["937ab92b.c10398"]]},{"id":"4b85a490.1e3dd4","type":"debug","z":"3eefe87c.aa6828","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":360,"wires":[]},{"id":"e669296e.5f6b88","type":"mqtt in","z":"701cda5e.388314","name":"","topic":"mtds/sensor/conf","qos":"2","datatype":"utf8","broker":"41de330e.96e68c","nl":false,"rap":true,"rh":0,"x":200,"y":280,"wires":[["224aa5b2.1cd10a"]]},{"id":"3d1007dc.de697","type":"mqtt out","z":"701cda5e.388314","name":"Send sensor configuration","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"41de330e.96e68c","x":1440,"y":280,"wires":[]},{"id":"eed2f07f.5d1b98","type":"function","z":"701cda5e.388314","name":"Prepare Publish","func":"msg.topic = \"mtds/sensor/conf/\"+msg.mqtt.sensor_id;\nmsg.payload = msg.mqtt.message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":280,"wires":[["3d1007dc.de697"]]},{"id":"224aa5b2.1cd10a","type":"function","z":"701cda5e.388314","name":"Parse Message","func":"msg.mqtt = {};\nmsg.mqtt.sensor_id = msg.payload;\nmsg.mqtt.message = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":280,"wires":[["85f77cf6.af1bb8"]]},{"id":"23d02957.e4f18e","type":"function","z":"701cda5e.388314","name":"Get Sensor Location","func":"msg.payload.forEach((loc) => {\n    if(loc.sensor_id === msg.mqtt.sensor_id){\n        msg.mqtt.message = loc.location;\n        return;\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":280,"wires":[["eed2f07f.5d1b98"]]},{"id":"85f77cf6.af1bb8","type":"file in","z":"701cda5e.388314","name":"Load Sensor List","filename":"/home/administrator/sensor_location.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":610,"y":280,"wires":[["5a963d9b.ec6b74"]]},{"id":"5a963d9b.ec6b74","type":"json","z":"701cda5e.388314","name":"Parser","property":"payload","action":"","pretty":false,"x":790,"y":280,"wires":[["23d02957.e4f18e"]]}]